@model IEnumerable<YoyoTournaments.WebClient.Models.DivisionTypeGridViewModel>

<h2>Divisions in all yoyo tournaments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.DisplayFor(model => item)
    }
</table>
